.main-slider
{
    width: 100%;
    overflow: hidden;
}

.main-block-t1
{
	background: #bdd4e7;
	padding: 10px 0;
}
.about-video
{
	display: inline-block;
	width: 600px;
	vertical-align: top;
}
.main-news
{
	display: inline-block;
	width: 360px;
	vertical-align: top;
	    margin-left: 30px;
}
.title-t1
{
	margin-bottom: 10px;
	text-transform: uppercase;
}
.main-news .news_main li
{
	width: auto;
	margin-bottom: 15px;
}

.main-news .news_main .h3
{
	height: auto;
}

.main-news.news_main li span {
    display: block;
    overflow: inherit;
    height: auto;
}


/*  -------------------------------------------------
  Базовые стили сайта | Base site styles
  ------------------------------------------------- */

* {margin:0; padding:0;}
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, th, var {
	font-style: normal;
	font-weight: normal;
}
strong
{
 font-weight: bold;
 color: #272E66;
}
p
{
margin:10px 0;
}
b
{
  color: #272E66;
}
ul {
	list-style: none;
}
ol
{
  margin-left: 50px;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
q:before, q:after {
	content: '';
}
abbr, acronym {
	border: 0;
}


html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 14px/18px Arial, sans-serif;
	height: 100%;
    text-align:center;
	color:#555555;
}
.merop_form,
.merop_form2,
.merop_form3,
.merop_form4
{
  display: none;
}
.table
{
  border-collapse: collapse;
border: 1px solid grey;
}
.name-b
{
	display: none !important;
}
/*Цитаты*/
blockquote {
margin: 0;
color: #231E28;
padding: 15px 30px 15px 0px;
border-left: 4px solid #ea6852;
position: relative;
background: rgba(189, 212, 231, 0.2);
font-weight: 300;
text-align: right;
}
blockquote:before{
/*content: "\201C";*/
font-family: Arial;
color: #ea6852;
font-size: 70px;
position: absolute;
left: 15px;
top: 30px;
}
blockquote p {
font-style: italic;
font-size: 16px;
margin-bottom: 5px;
margin-top: 0;
}

blockquote footer
{
 color: #ea6852;
}
/*---*/

.img_tbl
{
vertical-align: top;
}

.img_tbl img
{
margin-right: 20px;
}


.years10
{
  margin-bottom: 30px;
  position: relative;
      display: inline-block;
}

.years10 .blue_btn
{
      position: absolute;
    font-size: 30px;
    padding: 15px 20px;
    display: inline-block;
    text-transform: initial;
    right: 20px;
    top: 20px;
}
.table td, .table th
{
  padding: 5px;
    border: 1px solid grey;
}
.errortext
{
  text-align: left;
   display: inline-block;

}

.clear { clear:both; display:block; overflow:hidden; visibility:hidden; height:0px;}
.wrapper {
	width: 100%;
	min-width: 980px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

/*таблицы*/
 table.tbl {
    width: 100%; /* Ширина таблицы */
    border-spacing: 0; /* Расстояние между ячейками */
     border: 1px solid #314DA1; /* Рамка вокруг таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
   }
   table.tbl tr:nth-child(2n) {
    background: #f0f0f0; /* Цвет фона */
   }
  table.tbl tr:nth-child(1) {
    background: #272E66; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 15px 5px;
    text-align:center;
    font-weight: bold;
   }

   table.tbl td
   {
    padding: 5px;
    border: 1px solid #272E66;
   }

   table.tbl td p
   {
    margin: 0 0 5px 0;
   }

a
{
text-decoration: none;
color: #272E66;
}

.a
{
 text-decoration: none;
color: #ff6604 !important;
}

.a:hover
{
 text-decoration: underline !important;
}
a:hover
{
	text-decoration: underline;
}



h1,
.h1  {
  font-size: 20px;
  font-weight: normal;
  color: #272E66;
  padding: 0 0 20px 0;
  text-transform: uppercase;
  line-height: 1.2;
  	}

h2,
.h2 {
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  padding: 0 0 15px 0;
}

h3, .h3 {
	font-size: 16px;
  font-weight: normal;
  padding: 0 0 10px 0;
  line-height: 18px;
  color: #272E66;
}
h4 {
	color:#056dad;
	font-size:12px;
    font-weight: bold;
	padding:0 0 10px 0;
    line-height: 18px;
}
h5 {
	color:#000000;
	font-size:11px;
    font-weight: bold;
	padding:0 0 10px 0;
    line-height: 18px;
}
 h6 {
	color:#000000;
	font-size:11px;
    font-weight: normal;
	padding:0 0 10px 0;
    line-height: 18px;
}

.box {width:100%; height:100%;}
.w {width:100%;}
.c {text-align:center;}
.r {text-align:right;}
.vm {vertical-align:middle;}
.fix {font-size:0; line-height:0;}
.orn_btn
{
background: #F98017;
border: none;
color: #fff;
padding: 4px 5px;
cursor: pointer;
font-size: 13px;
display: inline-block;
text-transform: lowercase;
border: 1px solid #F98017;
}
.orn_btn:hover
{
background: #272E66;
border: 1px solid #fff;
}
.orn_btn:hover
{
	text-decoration: none;
}
.f_r
{
	float: right;
}

.f_l
{
	float: left;
}

.clear {
	clear:both;
	line-height:0;
	font-size:0;
	margin:0;
	padding:0;
	width:100%;
}

.orng {
  color: #ff6604 !important;
}

.white
{
  color: #fff !important;
}

.conteiner
{
width: 1000px;
margin: auto;
text-align: left;
}


.blue_btn
{
	background: #272E66;
color: #fff;
text-decoration: none;
padding: 4px 10px;
text-transform: lowercase;
border: none;
cursor: pointer;
text-decoration: none !important;
}

.blue_btn:hover
{
background: #E96952;
text-decoration: none;
}

.inl_bl
{
 display: inline-block;
 width: 100%;
}

.hr_v
{

}

.no_border_img img
{
border: none !important;
}

.no_border_img img:hover
{
border: none !important;
}

.blue_light
{
	background: #bdd4e7;
}

.up_txt
{
  text-transform: uppercase !important;
}

.bold_txt
{
font-weight: bold !important;
}

.blue_txt
{
	color: #272E66;
}

.txt_center
{
text-align:center;
}

#login_form
{
  position: absolute;
    width: 300px;
    right: 0;
        color: #fff;
    background-color: #272E66;
        padding: 10px;
    z-index: 100;
    box-shadow: 1px 1px 3px #000;
     opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;

}
#login_form .orn_btn
{
float: right;
padding: 5px 30px;
}
#login_form a
{
  color: #fff;
}

.show_form
{
  opacity: 1 !important;
  visibility: visible !important;
  transition-delay: 0s !important;
}
.login_all
{

  text-align: right;
  margin-top: 20px;
}


/*end Базовые стили */

.web_form_zv
{
  display: inline-block;
  margin-top: 50px;
}
.zv_free
{
  font-size: 13px;
  margin-top: 5px;
  display: inline-block;
}

/*arenda videonabludeniya*/
.top_arenda
{
  width: 100%;
  text-align: center;
}

.w_img
{
  width: 350px;
  position: relative;
  bottom: -4px;
}

.left_b, .right_b
{
display: inline-block;
vertical-align: middle;
}
.ar_img
{
  width: 200px;
    position: relative;
  top: 75px;
  left: -5px;
}
.top_arenda h2
{
text-align:left;
font-size: 30px;
  line-height: 1;
}

.top_arenda .blue_btn
{
padding: 10px 28px;
}
.middle_arv
{
   background: #E5E6EC;
     width: 100%;
     margin: 0 0 40px 0;
}

.middle_arv td
{
text-align: center;
padding: 30px 10px;
max-width: 250px;
vertical-align: top;
}


.middle_arv img
{
  height: 80px;
  margin-bottom: 20px;
}
.middle_arv span
{
}

.m_img
{
 height: 290px;
  position: relative;
  left: 20px;
  bottom: -4px;
}

.right_b .cloud
{
  background: url(/images/cloud.png);
    width: 350px;
  background-size: 350px;
  height: 130px;
  background-repeat: no-repeat;
  padding-top: 100px;
}

.att
{
  text-align: center;
  background: #E5E6EC;
   width: 100%;
   padding: 30px 0px;
}
.att p
{
margin:0;
font-size: 20px;
  line-height: 1.2;
}

.att a
{
  text-decoration: underline;
}

.att a:hover
{
  text-decoration: none;
}

.num
{
  background: #272E66;
  color: #fff;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
    margin-right: 10px;
    float: left;
    text-align: center;
}
.usloviya p
{
font-size: 20px;
  line-height: 1.2;
    margin-bottom: 30px;
}

.paralax_static
{
     display: table-cell !important;
     width: 1000px;
     height: 249px;
     background: url(/images/parallax_pic2.jpg);
     background-size: 1000px;
     background-repeat: no-repeat;
     margin-top: 30px;
     color: #fff;
       text-align: center;
         vertical-align: middle;
}

.paralax_static h3
{
color: #fff;
  font-size: 25px;
  line-height: 1.2;
}
.p_big
{
  font-size: 18px !important;
  line-height: 1.2;

}

.pluses
{
  width: 820px;
}
.item_plus
{
  width: 700px;
  text-align: left;
    margin-bottom: 10px;
}
.item_plus img
{
 width: 100px;
  border: 2px solid #272E66;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.item_plus span
{
    font-size: 18px;
  line-height: 1.2;
    display: inline-block;
  width: 550px;
  vertical-align: middle;
}

.att .blue_btn
{
   padding: 10px 28px;
}

main.content ul
{

}
.news-detail ul
{
	list-style-type: disc;
	padding-left: 30px;
}
/*----------------------*/


/*АУТСОРСИНГОВЫЕ УСЛУГИ*/
.main_usl
{
width: 100%;
text-align: center;
}

.main_usl .middle_block
{
width: 880px;
margin: auto;
}

.main_usl .man1
{
height: 300px;
  display: inline-block;
  vertical-align: middle;
}

.main_usl .man2
{
height: 300px;
  display: inline-block;
  vertical-align: middle;
}



.main_usl .right_txt_block
{
	  width: 590px;
  display: inline-block;
  vertical-align: middle;

}
.main_usl h3
{
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  color: #555555;
}
.uslugi_outs img
{
  background: #272E66;
  width: 50px;
  height: 50px;
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
}

.left_usl_outs span
{
	  width: 171px;
  display: inline-block;
  vertical-align: middle;
    margin: 0 10px;
  text-align: right;
}

.right_usl_outs span
{
	  width: 171px;
  display: inline-block;
  vertical-align: middle;
    margin: 0 10px;
  text-align: left;
}

.uslugi_outs
{

width: 100%;
  text-align: center;
}

.usl_middle_block
{
width: 880px;
margin: auto;
}
.uslugi_outs li
{
	margin-bottom: 15px;
}
.uslugi_outs li:hover
{
	color: #E96952;
}
.uslugi_outs li:hover >img
{
	background: #E96952;
}
.left_usl_outs, .right_usl_outs
{
margin: 0 10px;
}

.preimush
{
	  display: inline-block;
  width: 250px;
  padding: 10px;
  border: 1px solid #272E66;
  margin: 0 10px 60px 10px;
  vertical-align: top;
    height: 445px;
    visibility: hidden;

}
.preimush img
{
	  width: 175px;
  border: 1px solid #272E66;
  position: relative;
  margin-top: -30px;
  margin-bottom: 10px;
}
.width_50
{
	width: 50%;
	display: inline-block;
}

#right_usl_outs, #left_usl_outs
{
	visibility: hidden;
  display: inline-block;
}


/*интеграционные решения*/
.mouse_int
{
  display: inline-block;
  width: 300px;
  vertical-align: middle;
}

.main_usl .spisok_zadach ul li
{
float: left;
  width: 300px;
  text-align: left;
  margin-bottom: 20px;
}

.main_usl .spisok_zadach ul li i
{
	display: inline-block;
  width: 230px;
  vertical-align: middle;
}

.main_usl .spisok_zadach ul li span
{
  font-size: 40px;
    line-height: 1;
    vertical-align: middle;
      display: inline-block;
      margin-right: 10px;
}

.spisok_zadach
{
	  display: inline-block;
  width: 600px;
  margin-top: 30px;
}
.intgr_usl
{

width: 	100%;
  z-index: 5;
  position: relative;
}
.intgr_usl img
{
width: 250px;
border: 2px solid #E96952;
}

.intgr_usl td
{

	  width: 300px;
  vertical-align: top;
  padding: 0 20px;
  text-align: center;
}
.orng_hr
{
	  border: 1px solid #E96952;
  position: relative;
  top: 70px;
  z-index: -10;
  width: 50%;
  margin: auto;
}

.tecn_systems
{
	display: inline-block;
	width: 	100%;
	text-align: center;
}
.tecn_systems ul
{
width: 615px;
display: inline-block;
  margin-left: 65px;
}

.tecn_systems ul li
{
float: left;
  width: 300px;
  text-align: left;
  margin-bottom: 20px;
}

.tecn_systems ul li i
{
	display: inline-block;
  width: 230px;
  vertical-align: middle;
}

.tecn_systems ul li img
{
    vertical-align: middle;
      display: inline-block;
      margin-right: 10px;
        background: #272E66;
  width: 30px;
  height: 30px;
  padding: 5px;
}


.paralax_static_intg
{
     display: table-cell !important;
     width: 1000px;
     height: 280px;
     background: url(/images/parallax_1.jpg);
     background-size: 1000px;
     background-repeat: no-repeat;
     margin-top: 30px;
     color: #fff;
       text-align: center;
         vertical-align: middle;
}

.paralax_static_intg span
{
color: #fff;
  font-size: 25px;
  line-height: 1.2;
}

/*элетронная очередь*/
.preim_och
{
	  display: inline-block;
  width: 840px;
}
.preim_och li
{
width: 420px;
  float: left;
  text-align: left;
  margin-bottom: 20px;
}

.preim_och li img
{
display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.preim_och li span
{
	display: inline-block;
  vertical-align: middle;
  width: 320px;
}

.kak_och
{
	width: 100%;
}
.kak_och td
{

    position: relative;
  width: 350px;
  text-align: center;
  padding: 0 20px;
    vertical-align: top;
}

.kak_och tr td img
{
position: relative;
width: 300px;
}

.kak_och span
{
	background: rgba(255, 102, 4, 0.6);
  color: #fff;
  padding: 10px;
  border-radius: 60px;
  font-size: 60px;
  position: relative;
   bottom: 66px;

}
.kak_och  p
{
	top: -30px;
  position: relative;
}

.paralax_static_och
{
     display: table-cell !important;
     width: 1000px;
     height: 280px;
     background: url(/images/people_och.jpg);
     background-size: 1000px;
     background-repeat: no-repeat;
     margin-top: 30px;
       text-align: center;
         vertical-align: middle;
}

.paralax_static_och
{
  font-size: 18px;
  line-height: 1.5;
  text-shadow: 1px 1px 3px #fff;
}

.sph_och
{
	  width: 435px;
  margin: auto;
}
.sph_och li
{
   margin-bottom: 10px;
  font-size: 16px;
}

.sph_och li:before
{
	content: "";
	width: 10px;
	height: 10px;
	background: #272E66;
	  display: inline-block;
  margin-right: 10px;
}

/*Тестовая среда*/
.test_man1
{
width: 290px;
display: inline-block;
vertical-align: middle;
}

.test_qw
{
    text-align: left;
  margin: 20px 0 0 50px;
}

.test_qw li
{
  margin-bottom: 15px;
}

.test_qw li:before
{
  content: "?";
    color: #E96952;
    display: inline-block;
      font-size: 35px;
      vertical-align: middle;
}

.test_qw li span
{
  display: inline-block;
  width: 500px;
  margin-left: 10px;
  vertical-align: middle;
}

.left_test_block
{
display: inline-block;
vertical-align: middle;
}

.loges_test
{
  text-align: center;
  margin-top: 20px;

}

.loges_test table
{
  display: inline-block;
}

.loges_test table td
{
  padding: 10px;
}

.loges_test img
{
    width: 200px;
    background: none;
}

.paralax_static_test
{
     display: table-cell !important;
     width: 1000px;
     height: 280px;
     background: url(/images/paralax_test4.jpg);
     background-size: 1000px;
     background-repeat: no-repeat;
     margin-top: 30px;
       text-align: center;
         vertical-align: middle;
         color: #4C5A76;
}

.paralax_static_test
{
  font-size: 20px;
  line-height: 1.2;
  text-shadow: 1px 1px 5px #fff;
}
.sertf_test
{
  text-align: center;
  margin: 30px;
}
.sertf_test .progress-item
{
margin: 0 10px;
}

.progress-item
{
display: inline-block;
}

.primer_test img
{
  width: 130px;
   padding-bottom: 10px;
}
.primer_test table
{
  width: 100%;
  text-align: center;
}

.primer_test table td
{
  text-align: center;
  padding: 0 10px;
  vertical-align: top;
  width: 215px;
  display: inline-block;

}

.primer_test hr
{
  border-top: 1px solid #E96952;
  border-left: none;
}

.sravn_test
{
display: inline-block;
text-align: center;
width: 100%;
}

.sravn_test table
{
  display: inline-block;
}
.sravn_test table td
{
  width: 50%;
  vertical-align: top;
}
.sravn_test ul li img
{
  vertical-align: middle;
  display: inline-block;
  margin: 0 5px;
  height: 35px;
}
.sravn_test ul li span
{
    vertical-align: middle;
    display: inline-block;
    width: 350px;
}

.sravn_test ul li
{
  margin-bottom: 15px;
}

.price_test
{
  font-size: 40px;
  color: #272E66;
  line-height: 1.5;
  text-transform: lowercase;
}
.forma_price
{
  padding: 10px;
  border: 1px solid #272E66;
}

.calc_form
{
padding: 10px;
  background: #E5E6EC;
  text-align: center;
}

.calc_form img
{
  vertical-align: middle;
  display: inline-block;
  margin-right:20px;
}

.calc_form p
{
  font-size: 18px;
  line-height: 1.2;
}

.calc_test_right
{
  display: inline-block;
  width: 500px;
    width: 800px;
    vertical-align: middle;
}


.zapros_test_form td
{
width: 250px;
padding: 10px;
}

table.zapros_test_form td:first-child
{
text-align: right;
}

table.zapros_test_form td:last-child
{
text-align: left;
}

font.errortext
{
  text-align: left;
}
.problem_test
{
display: inline-block;
text-align: center;
margin-top: 30px;
}

.problem_test img
{
  width: 900px;
}

.problem_test table td
{
  width: 240px;
  padding: 10px;
  vertical-align: top;
}
.people_test
{
    width: 300px;
  display: inline-block;
  vertical-align: middle;
}

.azure_bnr
{
display: inline-block;
width: 100%;
text-align: center;
margin-bottom: 30px;
}
.azure_bnr div.left_test_az
{
  width: 500px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.azure_bnr img
{
    width: 300px;
  display: inline-block;
  vertical-align: middle;
}

.bez_lc
{
  font-size: 14px;
  color: #272E66;
}

.pole_ftest textarea
{
width: 90%;
margin-top: 10px;
padding: 10px;
}

.pole_ftest
{
    color: #272E66;
    margin-top: 20px;
}

#storprd_test
{
  display: none;
}

.rub
{
  display: inline-block;
  line-height: 7px;
  border-bottom: 3px solid #272E66;
  width:0.4em;
  text-transform: uppercase;
}

/*автоматизация управления компьютерным парком*/

.uslugi_avtm img
{
  background: #272E66;
  width: 50px;
  height: 50px;
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
}

.left_usl_avtm span
{
    width: 300px;
  display: inline-block;
  vertical-align: middle;
    margin: 0 10px;
  text-align: right;
}

.right_usl_avtm span
{
    width: 300px;
  display: inline-block;
  vertical-align: middle;
    margin: 0 10px;
  text-align: left;
}

.uslugi_avtm
{

width: 100%;
  text-align: center;
}


.uslugi_avtm .usl_middle_block
{
width: 1000px;
margin: 30px auto;
}
.uslugi_avtm li
{
  margin-bottom: 15px;
}
.uslugi_avtm li:hover
{
  color: #E96952;
}
.uslugi_avtm li:hover >img
{
  background: #E96952;
}
.left_usl_avtm, .right_usl_avtm
{
margin: 0 10px;
display: inline-block;
  vertical-align: top;
}
.uslugi_avtm .vop_cent
{
 display: table-cell;
  vertical-align: middle;
  height: 164px;
    font-size: 30px;

}

.paralax_static_avt
{
     display: table-cell !important;
     width: 1000px;
     height: 200px;
     background: url(/images/paralax_avt.jpg);
     background-size: 1000px;
     background-repeat: no-repeat;
     margin-top: 30px;
       text-align: center;
         vertical-align: middle;
         color: #fff;
}

.paralax_static_avt p
{
  font-size: 20px;
  line-height: 1.2;
  text-shadow: 1px 1px 5px #000;
  padding: 0 10px;
}

.sccm_logo
{
    width: 270px;
  display: inline-block;
  vertical-align: middle;
}

.sccm_text
{
  display: inline-block;
  width: 540px;
  margin-right: 20px;
    margin-bottom: 30px;
  text-align: center;
  vertical-align: middle;
}

.sccm_text p
{

}

.uslugi_azch img
{
   width: 60px;
  height: 60px;
  padding: 5px;
  display: inline-block;
  vertical-align: middle;
}

.left_usl_azch span
{
    width: 215px;
  display: inline-block;
  vertical-align: middle;
    margin: 0 10px;
  text-align: right;
}

.right_usl_azch span
{
    width: 215px;
  display: inline-block;
  vertical-align: middle;
    margin: 0 10px;
  text-align: left;
}

.uslugi_azch
{

width: 100%;
  text-align: center;
}

.usl_middle_block
{
width: 880px;
}
.uslugi_azch li
{
  margin-bottom: 15px;
}
.uslugi_azch li:hover
{
  color: #E96952;
}

.left_usl_azch, .right_usl_azch
{
margin: 0 10px;
display: inline-block;
vertical-align: top;
}

/*---------Хостинг услуги-------*/
.hpr1, .hpr2, .hpr3,
.hpr4, .hpr5, .hpr6
{
  position: absolute;
  display: block;
  width: 340px;
  text-align: center;
  text-transform: uppercase;
}

.hpr1
{
margin-top: 40px;
}


.hpr2
{
  margin-top: 165px;
}

.hpr3
{
margin-top: 300px;
}


.hpr4
{
    right: 0;
  margin-top: 20px;
}

.hpr5
{
  right: 0;
  margin-top: 165px;
}

.hpr6
{
  right: 0;
  margin-top: 278px;
}

.paralax_static_host
{
     display: table-cell !important;
     width: 1000px;
     height: 200px;
     background: url(/images/paralax_host.jpg);
     background-size: 1000px;
     background-repeat: no-repeat;
     margin-top: 30px;
       text-align: center;
         vertical-align: middle;
         text-shadow: 1px 1px 3px #545454;
}

.paralax_static_host
{
  font-size: 30px;
  line-height: 1.5;
color: #fff;
}

.host_tbl
{
  width: 100%;
}

.host_tbl td
{
  vertical-align: top;
  text-align: center;
    width: 40%;
  padding: 0 20px;
}

.host_tbl ul li
{
  list-style-type: disc;
  color: #E96952;
  text-align: left;
}

.host_tbl p
{
  text-align: left;
}

.host_tbl ul
{
  margin-left: 20px;
}


/*услуги по безопасности*/
.it_bez1, .it_bez2, .it_bez3,
.it_bez4, .it_bez5, .it_bez6, .it_bez7
{
    position: absolute;
  display: block;
  width: 340px;
  text-align: center;
  text-transform: uppercase;
}

.it_bez1
{
  right: 0;
  margin-top: 15px;
}

.it_bez2
{
  margin-top: 100px;
}

.it_bez3
{
right: 0;
  margin-top: 185px;
}

.it_bez4
{
    margin-top: 260px;
}


.it_bez5
{
    right: 0;
  margin-top: 350px;
}

.it_bez6
{
    margin-top: 450px;
}

.it_bez7
{
    right: 0;
  margin-top: 530px;
}

.kons_bez
{
  display: inline-block;
  width: 100%;
  text-align: center;
    margin-bottom: 80px;
}

.kons_bez div.cicle
{
    display: table-cell;
  width: 230px;
  height: 230px;
  border: 2px solid #E96952;
  border-radius: 300px;
  vertical-align: middle;
  position: relative;
}

.kons_bez div.cicle p
{
  width: 200px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}


.kons_bez div.cicle img
{
      position: absolute;
  bottom: -74px;
  left: 71px;
}

.teh_bez
{
text-align: center;
}

.teh_bez ul.main li
{
display: inline-block;
width: 400px;
vertical-align: top;
text-align: left;
}
#ch_main
{
  margin-left: 70px;
}
#ch_main li
{
  list-style-type: disc !important;
    display: list-item;
}

.teh_bez ul.main li p, .teh_bez ul.main li img
{
  display: inline-block;
  vertical-align: top;
}

.teh_bez ul.main li img
{
  margin-right: 10px;
  margin-top: 10px;
}

.teh_bez ul.main li p
{
  width: 360px;
}

.step_bez
{
     display: inline-block;
     width: 709px;
     height: 114px;
     background: url(/images/step_bez.png);
     background-size: 709px;
     background-repeat: no-repeat;
     margin-top: 18px;
       text-align: center;
         vertical-align: middle;
  line-height: 1.5;
color: #fff;
margin-bottom: 20px;
}

.step_bez p
{
text-align: left;
  width: 500px;
  float: right;
  margin-right: 45px;
  margin-top: 27px;
}

.step_bez span
{
  color: #E96952;
  font-size: 55px;
  margin-left: 25px;
  position: relative;
  top: 10px;
}


.par1_bez
{
     display: table-cell !important;
     width: 1000px;
     height: 200px;
     background: url(/images/par1_bez.jpg);
     background-size: 1000px;
     background-repeat: no-repeat;
     margin-top: 30px;
       text-align: center;
         vertical-align: middle;
  font-size: 30px;
  line-height: 1.5;
color: #fff;
  text-shadow: 1px 1px 3px #000;
  font-style: italic;
}

.bez_win
{
  display: inline-block;
}
.bez_win td
{
vertical-align: top;
width: 400px;
padding: 20px;
}

.par2_bez
{
     display: table-cell !important;
     width: 1000px;
     height: 200px;
     background: url(/images/par2_bez.jpg);
     background-size: 1000px;
     background-repeat: no-repeat;
     margin-top: 30px;
       text-align: center;
         vertical-align: middle;
  font-size: 30px;
  line-height: 1.5;
color: #fff;
  text-shadow: 1px 1px 3px #000;
  font-style: italic;
}


/*-----------------PS---------------*/
.testimonials
{
  text-align: center;
}
.testimonials .testi-item {
  margin:30px 0;
  padding:0;
  width:480px;
  margin-left:20px;
  display:inline-block;
  vertical-align:top;
    text-align: center;
}
@media (max-width: 767px) {
  .testimonials .testi-item {
    width:100%;
    display:block;
    margin:20px 0;
  }
}
.testimonials .testi-item:nth-child(2n+1) { margin-left:0; }
.testimonials .testi-item:nth-child(2n+1) .testi-item_blockquote { text-align:right; }
.testimonials .testi-item:nth-child(2n+1) .testi-item_blockquote .featured-thumbnail {
  float:right;
  margin:0 0 0 30px;
}
@media (max-width: 400px) {
  .testimonials .testi-item:nth-child(2n+1) .testi-item_blockquote .featured-thumbnail {
    float:none;
    margin:0 0 20px;
  }
}
.testimonials .testi-item:nth-child(2n+1) .testi-item_blockquote .featured-thumbnail:before {
  border-width:17px 17px 0 0;
  border-color:#272E66 transparent transparent transparent;
  left:-30px;
}
.testimonials .testi-item:nth-child(2n+1) .testi-item_blockquote > div:before { left:0; }
.testimonials .testi-item:nth-child(2n+1):hover .testi-item_blockquote .featured-thumbnail:before {
  border-width:17px 25px 0 0;
  border-color:#fff transparent transparent transparent;
}
.testimonials .testi-item:nth-child(2n+1) .testi-meta {
  padding:15px 157px 0 0;
  text-align:right;
}
@media (max-width: 400px) {
  .testimonials .testi-item:nth-child(2n+1) .testi-meta {
    text-align:left;
    padding:15px 0 0;
  }
}
.ie8 .testimonials .testi-item.list-item-0, .ie8 .testimonials .testi-item.list-item-2 { margin-left:0; }
.ie8 .testimonials .testi-item.list-item-0 .testi-item_blockquote, .ie8 .testimonials .testi-item.list-item-2 .testi-item_blockquote { text-align:right; }
.ie8 .testimonials .testi-item.list-item-0 .testi-item_blockquote .featured-thumbnail, .ie8 .testimonials .testi-item.list-item-2 .testi-item_blockquote .featured-thumbnail {
  float:right;
  margin:0 0 0 30px;
}
@media (max-width: 400px) {
  .ie8 .testimonials .testi-item.list-item-0 .testi-item_blockquote .featured-thumbnail, .ie8 .testimonials .testi-item.list-item-2 .testi-item_blockquote .featured-thumbnail {
    float:none;
    margin:0 0 20px;
  }
}
.ie8 .testimonials .testi-item.list-item-0 .testi-item_blockquote .featured-thumbnail:before, .ie8 .testimonials .testi-item.list-item-2 .testi-item_blockquote .featured-thumbnail:before {
  border-width:17px 17px 0 0;
  border-color:#272E66 transparent transparent transparent;
  left:-30px;
}
.ie8 .testimonials .testi-item.list-item-0 .testi-item_blockquote > div:before, .ie8 .testimonials .testi-item.list-item-2 .testi-item_blockquote > div:before { left:0; }
.ie8 .testimonials .testi-item.list-item-0:hover .testi-item_blockquote .featured-thumbnail:before, .ie8 .testimonials .testi-item.list-item-2:hover .testi-item_blockquote .featured-thumbnail:before {
  border-width:17px 25px 0 0;
  border-color:#fff transparent transparent transparent;
}
.ie8 .testimonials .testi-item.list-item-0 .testi-meta, .ie8 .testimonials .testi-item.list-item-2 .testi-meta {
  padding:15px 157px 0 0;
  text-align:right;
}
@media (max-width: 400px) {
  .ie8 .testimonials .testi-item.list-item-0 .testi-meta, .ie8 .testimonials .testi-item.list-item-2 .testi-meta {
    text-align:left;
    padding:15px 0 0;
  }
}
.testimonials .testi-item .testi-item_blockquote {
  background:none;
  padding:0;
  border-radius:0;
}
.testimonials .testi-item .testi-item_blockquote:before, .testimonials .testi-item .testi-item_blockquote:after { display:none; }
.testimonials .testi-item .testi-item_blockquote .featured-thumbnail {
  margin:0 26px 0 0;
  width:127px;
  height:127px;
  overflow:visible;
  position:relative;
  display: inline-block;
    vertical-align: top;
}
@media (max-width: 400px) {
  .testimonials .testi-item .testi-item_blockquote .featured-thumbnail {
    float:none;
    margin:0 0 20px;
  }
}
.testimonials .testi-item .testi-item_blockquote .featured-thumbnail img {
  border-radius:50%;
  overflow:hidden;
    width: 132px;

}
.testimonials .testi-item .testi-item_blockquote .featured-thumbnail:before {
  content:'';
  width:0;
  height:0;
  border-style:solid;
  border-width:0 17px 17px 0;
  border-color:transparent #272E66 transparent transparent;
  position:absolute;
  top:50%;
  right:-30px;
  margin-top:-5px;
  z-index:100;
  transition:all 0.3s ease 0s;
}
@media (max-width: 400px) {
  .testimonials .testi-item .testi-item_blockquote .featured-thumbnail:before { display:none; }
}
.testimonials .testi-item .testi-item_blockquote > div {
  background:#272E66;
  padding:20px 10px;
  overflow:hidden;
  border-radius:4px;
  position: relative;
  display: inline-block;
  width: 295px;
  text-align: center;
}
.testimonials .testi-item .testi-item_blockquote > div:before {
  content:'';
  width:0;
  height:100%;
  position:absolute;
  top:0;
  left:auto;
  right:0;
  background:#fff;
  z-index:10;
  transition:all 0.3s ease 0s;
}
.testimonials .testi-item .testi-item_blockquote > div a {
  color:#fff;
  position:relative;
  z-index:100;
}
.testimonials .testi-item .testi-item_blockquote > div a:hover, .testimonials .testi-item .testi-item_blockquote > div a:active, .testimonials .testi-item .testi-item_blockquote > div a:focus {
  text-decoration:none;
  color:#fff;
}
.testimonials .testi-item:hover .testi-item_blockquote .featured-thumbnail:before {
  border-width:0 25px 17px 0;
  border-color:transparent #fff transparent transparent;
}
.testimonials .testi-item:hover .testi-item_blockquote > div:before { width:100%; }
.testimonials .testi-item:hover .testi-item_blockquote > div a { color:#272E66; }
.testimonials .testi-item:hover .testi-item_blockquote > div a:hover, .testimonials .testi-item:hover .testi-item_blockquote > div a:active, .testimonials .testi-item:hover .testi-item_blockquote > div a:focus {
  text-decoration:none;
  color: #272E66;
}
.testimonials .testi-item .testi-meta {
  font:bold 15px/1.2em 'Lato', sans-serif;
  color:#272E66;
  padding:15px 0 0 157px;
}
@media (max-width: 400px) {
  .testimonials .testi-item .testi-meta { padding:15px 0 0; }
}
.content_box.green .testimonials .testi-item .testi-meta, .content_box.dark-gray .testimonials .testi-item .testi-meta, .parallax-box .testimonials .testi-item .testi-meta { color:#fff; }
.testimonials .testi-item .testi-meta .user:after { content:''; }
/*---------------------------------*/


.center_avtomatiz
{
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 30px 0 100px 0;
  position: relative;
}

.center_avtomatiz .cent_div
{
display: inline-block;
}

.center_avtomatiz  img
{
  width: 400px;
}

.center_avtomatiz .text1
{
  position: absolute;
  width: 300px;
  margin-top: 139px;
  text-align: center;
  left: 0;
}

.center_avtomatiz .text2
{
  position: absolute;
  width: 300px;
  right: 0px;
  margin-top: 136px;
  text-align: center;

}
.center_avtomatiz .text3
{
  position: absolute;
  width: 300px;
  left: 0;
  margin-top: 296px;
  text-align: center;
}
.center_avtomatiz .text4
{
  position: absolute;
  width: 300px;
  right: 0;
  margin-top: 324px;
  text-align: center;
}

/*масштабирование*/

.vop_ms
{
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.d_ib
{
display: inline-block;
position: relative;
width: 1000px;
height: 450px;
  text-align: left;
}

.vop_ms img
{
  width: 500px;
margin-top: 80px;
  margin-left: 150px;
}

.d_ib b
{
    display: inline-block;
    font: 40px/40px Arial, sans-serif;
  margin-right: 10px;
  vertical-align: top;
  height: 40px;
  font-weight: bold;
}

.d_ib p
{
    display: inline-block;
  width: 310px;
  vertical-align: top;
  text-align: left;
  margin: 0;
}

.vms1
{
     display: inline-block;
  width: 400px;
  position: absolute;
  vertical-align: top;
    left: 0;
    margin-left: 220px;
}

.vms2
{
   display: inline-block;
  width: 400px;
  position: absolute;
  vertical-align: top;
    right: 0;

}


.vms3
{
  display: inline-block;
  width: 400px;
  position: absolute;
  vertical-align: top;
    left: 0;
      margin-left: 150px;
   bottom: 55px;

}


.vms4
{
    display: inline-block;
  width: 400px;
  position: absolute;
  vertical-align: top;
    right: 0;
      bottom: 55px;
  margin-top: 40px;
  margin-right: 55px;
}

.pc_no
{
    width: 400px;
  display: inline-block;
  vertical-align: middle;
}


.paralax_static_ms
{
     display: table-cell !important;
     width: 1000px;
     height: 300px;
     background: url(/images/paralax_ms_new_1.png);
     background-size: 1000px;
     background-repeat: no-repeat;
     margin-top: 30px;
       text-align: center;
         vertical-align: middle;
         color: #fff;
}

.paralax_static_ms p
{
  font-size: 20px;
  line-height: 1.2;
  text-shadow: 1px 1px 5px #000;
  padding: 0 10px;
}

.rez_ms
{
  width: 90%;
  margin: 20px auto;
    display: block;
}
.rez_ms img
{
  width: 200px;
}

.rez_ms td
{
  padding: 0px 10px;
}

.rez_ms .left_td
{
  border-right: 1px solid #E96952;
}
/*---------------*/


/*SAM*/
ul.sam_ul1
{
    display: table;
  border-collapse: separate;
  border-spacing: 5px;
}
.sam_ul1 li
{
  display: table-cell;
  background-color: #E5E6EC;
  width: 140px;
  height: 90px;
  padding: 30px 20px;
  vertical-align: middle;
  text-align: center;
    position: relative;

}
.sam_ul1 li span
{
  vertical-align: middle;
}

.sam_ul1 li img
{
    background: #272E66;
      padding: 5px;
   border-radius: 100px;
  position: absolute;
  top: -30px;
  left: 60px;
}

ul.sam_ul2
{
    display: table;
  border-collapse: separate;
  border-spacing: 5px;
}
.sam_ul2 li
{
  display: table-cell;
  width: 200px;
  height: 90px;
  padding: 30px 20px;
  vertical-align: top;
  text-align: center;
    position: relative;

}
.sam_ul2 li span
{
  vertical-align: top;
}

.sam_ul2 li img
{
  width: 200px;
}

.sam_ul3 li
{
  display: inline-block;
  width: 200px;
  padding: 30px 20px;
  vertical-align: bottom;
  text-align: center;
    position: relative;
    background-color: #E5E6EC;

}
.sam_ul3 li span
{
  vertical-align: top;
}

.sam_ul3 li p
{
  font-size: 20px;
}
ul.olsam
{
    display: inline-block;
  vertical-align: middle;
}

.right_txt_block ul.olsam li
{
    margin-bottom: 25px;
}
/* Header
-----------------------------------------------------------------------------*/
#header {
	background: #FFF;
	border-bottom: 3px solid #E96952;
}

#header .conteiner
{

}

.right_block
{
	width: 280px;
float: right;
position: relative;
}

.right_block .bx-system-auth-form
{
text-align: center;
}

#logo {
  width: 255px;
  float: left;
  text-align: center;
  margin:  30px 0 0 0;
}

/*NEW FA*/
.login
{
  display: block;
  float: right;
  position: relative;
}
#login_block a
{
  font-size: 10pt;
}
#login_block a, #login_block h3, #login_tg,
#login_block form td
{
  color: #fff;
}


#login_tg
{
    display: inline-block;
  padding: 5px 25px;
  background-color: #272E66;
border-bottom-left-radius:2px 2px;
-moz-border-radius-bottomleft:2px 2px;
-webkit-border-bottom-left-radius:2px 2px;
border-bottom-right-radius:2px 2px;
-moz-border-radius-bottomright:2px 2px;
font-size: 12px;
}

#login_tg::before
{
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  background: url(images/icon10.png);
  margin-right: 10px;
  vertical-align: middle;
      background-size: 15px;
}

#login_block
{
  display: none;
  width: 100%;
  height: auto;
  position: absolute;
  text-align: center;
  margin-top: 10px;
  background-color: #272E66;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  z-index: 100;
}

#login_block form
{
  padding: 15px;
}

#login_block form h3
{
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #384C8E;
display: block;
font-size: 16pt;
font-weight: normal;
}

#login_block form input[type="text"],
#login_block form input[type="password"]
{
  padding: 5px 10px;
  width: 80%;
  border: none;
  -moz-box-shadow: 1px 2px 2px rgba(33, 55, 129, 0.75);
    -webkit-box-shadow: 1px 2px 2px rgba(33, 55, 129, 0.75);
    box-shadow: 1px 2px 2px rgba(33, 55, 129, 0.75);
    margin-bottom: 10px;
    text-align: center;
    font-style: italic;
    color: #666;
}

#login_block input[type="submit"]
{
  margin-top: 15px;
}

/*форма авторизации*/
#login {
  width: 300px;
  float: right;
  text-align: right;
  margin:  0px 0 0 0;
  background: #272E66;
  padding: 10px;
  display: inline-block;
}

#login a
{
color: #fff;
margin-right: 10px;
}

.login input[type="text"], .login input[type="password"]
{
	height: 20px;
	width: 290px;
	padding-left: 5px;
  margin-bottom: 5px;
}
.login input[type="submit"]
{
	width: 50px;
}
.login .rem_reg
{
	text-align: right;
	padding-bottom: 5px;
}

.login span
{
color:#fff;
}

#login p
{
margin-bottom: 5px;
}

/*//форма авторизации*/

#top_phone {
  float: left;
  margin: 30px 0 0 35px;
  text-align: right;
  width: 420px;
}

.btn_up
{
top: 10px;
position: relative;
float: left;
}

#top_phone #tp_phone {
  font-size: 25px;
      display: inline-block;
    vertical-align: middle;
    position: relative;
}

#tp_phone::after
{
content: "/";
font-size: 30px;
position: absolute;
    top: 10px;
    right: -24px;
}

#make_phone
{
    margin-left: 36px;
        display: inline-block;
    vertical-align: middle;
}

#make_phone a
{
	background: url(images/tel.png) 0px 5px no-repeat;
text-transform: lowercase;
    color: #272E66;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-size: 15px;
    font-size: 15px;
    line-height: 1;
}

.top_search
{
    margin-top: 10px;
  float: right;
}

#title-search-input
{
  padding: 2px 10px;
}

#top_menu ul
{
zoom: 1;
width: 100%;
}
#top_menu ul li
{
float: left;
padding-right: 15px;
padding-left: 15px;
}



#top_menu ul li a
{
color: #fff;
font-size: 14px;
text-transform: uppercase;
}

#top_menu
{
width: 100%;
display: inline-block;
text-align: center;
margin-top: 18px;
max-height: 38px;
}

#top_menu li ul
{
display:none;
position: absolute;
background: #272E66;
  width: auto;
  z-index: 200;
  text-align: left;
  padding: 5px 0px 10px 20px;
  top: 25px;
  margin-left: -15px;
}
#top_menu li ul.child li a
{
text-transform: none;
}

#top_menu li li
{
float: none;
padding-bottom: 5px;
text-transform: initial;
white-space: nowrap;
}

#top_menu ul.child li::before
{
content: "\2022" !important;
position: absolute;
left: -3px;
  color: #fff;
}

#menu li li a
{
   float:none;
   display:block;
   white-space:nowrap;
   }

#top_menu li:hover > ul.child {display: block;}

#top_menu ul li ul li:last-child
{
margin-right: 0px;
border-left: none;
margin-left: 0;
background: none;
padding-right: 15px;
padding-left: 15px;
}

#top_menu div
{
	display: inline-block;
	background: #272E66;
	padding: 8px 80px !important;
position: relative;
    margin-bottom: -4px;
}

#top_menu ul li:last-child
{
margin-right: 0px;
border-left: 1px solid #fff;
margin-left: 15px;
background: url(images/map-placeholder.png) 30px 0px no-repeat;
background-size: 18px;
padding-left: 55px;
}

#top_menu ul.child
{
display:none;
}

#top_menu ul.child li
{
float: none;
  position: relative;
}

#cloud, #pulldw
{
visibility: hidden;
}

.pullDown
{
  visibility: visible !important;
}

.cloud span
{
display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}
/* end Header */

/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 0 0 280px;
	margin-bottom: 30px;
}

#object{
	background-color: #fe5652;

	visibility: hidden;
}

#main_blocks
{
	text-align: center;
	margin-bottom: 50px;
  display: block;
}
#main_blocks .block
{
display: inline-block;
width: 190px !important;
text-align: center;
line-height: 1.1;
vertical-align: top;
}
#main_blocks .block h1
{
	text-transform: uppercase;
	padding: 10px 0;
}
#main_blocks .block img
{
	width: 150px;
	opacity: 1;
}
#main_blocks .block a
{
	color: #555555;
}

#main_blocks .block a:hover
{
	text-decoration: none;
}

#specpred, #dostigen, #netolkoit, #servis, #proects
{
visibility: hidden;
}
/*
#specpred:hover img
{
	-webkit-filter: saturate(500%) hue-rotate(140deg);

}
#dostigen:hover img
{
		-webkit-filter: saturate(500%) hue-rotate(140deg);
}
#netolkoit:hover img
{
		-webkit-filter: saturate(500%) hue-rotate(140deg);
}
#servis:hover img
{
		-webkit-filter: saturate(500%) hue-rotate(140deg);
}

#proects:hover img
{
		-webkit-filter: saturate(500%) hue-rotate(140deg);
} */


#nb_main
{
	background: #bdd4e7;
  /*  background: url(/new_year/bg_ny.jpg);*/
      background-size: contain;
  background-repeat: repeat-x;
	padding: 10px;
}


.banners_main img
{
width: 180px !important;
margin-bottom: 5px;

}
.banners_main
{
	display: inline-block;
	vertical-align: top;
	padding-left: 40px;
	width: 180px;
}

#kl_pr_prj
{
background: #fff;
padding: 30px 0 0 0;
}

#kl_pr_prj .h2
{
	color: #272E66;
	text-transform: uppercase;
}
.kl_pr
{
	display: inline-block;
	width: 600px;
	margin-right: 40px;
	vertical-align: top;
}

.kl_pr div
{
display:block;
}


.list.styled > ul li {
	}
.list.styled > ul li:before { color:#3498db; }
.list.styled > ul li a { color: #555; }
.list.styled > ul li a:hover, .list.styled > ul li a:focus { }
@media (min-width: 1200px) {
	.home .list.styled.arrow-list { padding-top:27px; }
}
.list.styled.arrow-list > ul { margin-left:0; }
.list.styled.arrow-list > ul li { margin:0px 0 0 0; }
.list.styled.arrow-list > ul li:first-child { margin-top:0; }
.list.styled.arrow-list > ul li:before {
	content: '';
width: 7px;
height: 11px;
background-position: 0 0;
background-repeat: no-repeat;
background-image: url(images/arrow.png);
vertical-align: top;
position: relative;
padding-left: 15px;
top: 20px;
}
.list.styled.arrow-list > ul li a { position:relative; }
.list.styled.arrow-list > ul li a:before {
	content:'';
	position:absolute;
	top:20px;
	left:-15px;
	width:7px;
	height:11px;
	background-position:0 0;
	background-repeat:no-repeat;
	background-image:url(images/arrow.png);
	opacity:0;
	filter:alpha(opacity=0);
}
/*
.list.styled.arrow-list > ul li a span:before {
	content:'';
	position:absolute;
	top:20px;
	left:-30px;
	width:7px;
	height:11px;
	background-position:0 0;
	background-repeat:no-repeat;
	background-image:url(images/arrow.png);
	opacity:0;
	filter:alpha(opacity=0);
}
.list.styled.arrow-list > ul li a span:before {
content: '';
position: absolute;
top: 4px;
left: 7px;
width: 7px;
height: 11px;
background-position: 0 0;
background-repeat: no-repeat;
background-image: url(images/arrow.png);
opacity: 0;
filter: alpha(opacity=0);
}
.list.styled.arrow-list > ul li a span:hover:before, .list.styled.arrow-list > ul li a span:focus:before {
	-webkit-transform:translate(7px,0);
	-moz-transform:translate(7px,0);
	-ms-transform:translate(7px,0);
	-o-transform:translate(7px,0);
	transform:translate(7px,0);
	opacity:0.45;
	filter:alpha(opacity=45);
}*/
.list.styled.arrow-list > ul li a:before {
	-webkit-transition:0.2s;
	-moz-transition:0.2s;
	-o-transition:0.2s;
	transition:0.2s;
}
.list.styled.arrow-list > ul li a span:before {
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}

.list.styled.arrow-list > ul li a:hover:before, .list.styled.arrow-list > ul li a:focus:before {
	-webkit-transform:translate(7px,0);
	-moz-transform:translate(7px,0);
	-ms-transform:translate(7px,0);
	-o-transform:translate(7px,0);
	transform:translate(7px,0);
	opacity:0.65;
	filter:alpha(opacity=65);
}
.ie8 .list.styled.arrow-list > ul li a:hover:before, .ie8 .list.styled.arrow-list > ul li a:focus:before { left:-20px; }
.list.styled.arrow-list > ul li a:hover:after, .list.styled.arrow-list > ul li a:focus:after {
	-webkit-transform:translate(14px,0);
	-moz-transform:translate(14px,0);
	-ms-transform:translate(14px,0);
	-o-transform:translate(14px,0);
	transform:translate(14px,0);
	opacity:0.45;
	filter:alpha(opacity=45);
}
.ie8 .list.styled.arrow-list > ul li a:hover:after, .ie8 .list.styled.arrow-list > ul li a span:focus:after { left:-13px; }

.prj
{
	display: inline-block;
	vertical-align: top;
	width: 300px;
margin-left: 50px;
}

.prj span
{
display: block;
padding-left: 30px;
position: relative;
}

.prj h1
{
	padding: 5px 0;
}

#navstring
{
padding: 20px 0 20px 0;
overflow: hidden;
}

#navstring div
{
  display: inline-block;
}

#navstring > ul
{
padding: 0;
margin: 0 0 0 -12px;
list-style: none;
}

#navstring > ul li {
padding: 0;
margin: 0 10px 0 0;
float: left;
}

#navstring > ul li::before {
content: ">> ";
padding: 0 5px 0 0;
}

#navstring > ul li:first-child::before {
content: "";
padding: 0 20px 0 0;
}

#navstring ul li a
{
	color: #555;
}
.h1_imgblock img
{
	width: 600px;
}
.h1_imgblock .h1, .h1_imgblock h1
{
color: #fff;
font-weight: bold;
text-transform: uppercase;
background: rgba(74, 92, 118, 0.7);
padding: 10px 0px 10px 10px;
width: 590px;
position: relative;
top: -48px;
}
.content_left
{
width: 600px;
display: inline-block;
margin-right: 5px;
}

/*БЛОГ*/
.img_post
{
display: inline-block;
width: 170px;
}
.img_post img
{
width: 150px;
padding: 2px;
border: 1px solid #272E66;
}

.img_post img:hover
{
border: 1px solid #F98017;
}

.txt_post
{
width: 420px;
display: inline-block;
text-align: left;
vertical-align: top;
}

.txt_post h2
{
color: #272E66;
font-weight: bold;
padding: 0 0 5px 0;
}

.date_comments
{
	margin-bottom: 5px;
}
.date_comments .date span:before
{
	content: '';
	background: url(images/data.png);
	display: inline-block;
width: 15px;
height: 15px;
background-size: 15px;
top: 2px;
position: relative;
background-repeat: no-repeat;
padding-right: 5px;
}

.date_comments .comments span:before
{
	content: '';
	background: url(images/kom.png);
	display: inline-block;
width: 15px;
height: 15px;
background-size: 15px;
top: 2px;
position: relative;
background-repeat: no-repeat;
padding-right: 5px;
}
.date_comments .date, .date_comments .comments
{
display: inline-block;
margin-right: 10px;
}

.txt_post p
{
	text-align: justify;
	margin-bottom: 10px;

}
.post .blue_btn
{
	float: right;
}

.posts .post
{
	margin-bottom: 20px;
}

.navigation-pages
{
	text-align: center;
}

.content_right .r
{
	padding-top: 10px;
}


/*end БЛОГ*/

/*Контакты*/
.contacts {padding-bottom: 35px;}
.contacts table{width:100%;}
.contacts h1
{
text-align: center;
background: #F98017;
color: #fff;
padding-top: 10px;
padding-bottom: 10px;
font-size: 20px;
}

.contacts h2
{
font-size: 20px;
margin-bottom: 10px;
margin-top: 10px;
}
.contacts h3 {margin: 0;}

.contacts td {vertical-align: top;}
.city_info {margin-left: 30px;}

#rus_btn
{
color: #555;
background: #fff	;
cursor: pointer;
padding-top: 10px;
padding-bottom: 11px;
width: 180px;
text-align: center;
}
#uk_btn
{
color: #555;
background: #fff;
cursor: pointer;
padding-top: 10px;
padding-bottom: 11px;
width: 180px;
text-align: center;
}
#kz_btn
{
color: #555;
background: #fff;
cursor: pointer;
padding-top: 10px;
padding-bottom: 11px;
width: 180px;
text-align: center;
}
#db_btn
{
color: #555;
background: #fff;
cursor: pointer;
padding-top: 10px;
padding-bottom: 11px;
width: 180px;
text-align: center;
}

#strelka_rus
{
border: 20px solid transparent;
border-left: 20px solid #F98017;
width: 0;
height: 0;
position: absolute;
top: -29px;
left: 180px;
display:none;
}


#strelka_uk
{
border: 20px solid transparent;
border-left: 20px solid #F98017;
width: 0;
height: 0;
position: absolute;
top: -29px;
left: 180px;
display:none;
}

#strelka_kz
{
border: 20px solid transparent;
border-left: 20px solid #F98017;
width: 0;
height: 0;
position: absolute;
top: -29px;
left: 180px;
display:none;
}

#strelka_db
{
border: 20px solid transparent;
border-left: 20px solid #F98017;
width: 0;
height: 0;
position: absolute;
top: -29px;
left: 180px;
display:none;
}

#ukraina{display:none;}
#kazahstan{display:none;}
#dybai{display:none;}

#uk_info1 {display:none;}
#kz_info1 {display:none;}
#db_info1 {display:none;}

#uk_info2 {display:none;}
#kz_info2 {display:none;}
#db_info2 {display:none;}

.activ_cont
{
color: #fff !important;
}
/*end контакты*/

.content_right
{
	background: #bdd4e7;
display: inline-block;
width: 320px;
vertical-align: top;
padding: 20px 30px 0 30px;
}

.content_right h1
{
	text-transform: uppercase;
	color: #272E66;
	padding: 0;
}

.arrow-list span
{
	display: block;
padding-left: 30px;
position: relative;
}
.cont_rb
{
	margin-bottom: 50px;
}

.content_left ul
{
	margin-left: 30px;
	color: #272E66;
}

.content_left h3
{
	color: #272E66;
}

.content_left ul li
{
list-style-type: disc;
}

.about_company img
{
	max-height: 120px !important;
	max-width: 120px !important;
}
.about_company .img_post
{
	width: 150px;
}

.about_company .txt_post
{
	width: 440px;
}

.arrow-list noindex
{
display: block;
height: 37px;
overflow: hidden;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -280px auto 0;
	min-width: 980px;
	height: 280px;
	background: #272E66;
	position: relative;
	color: #fff;
  border-top: 3px solid #E96952;
}
#footer_menu div
{
display: block;
}
#footer_menu ul
{
text-transform: uppercase;
overflow: hidden;
zoom: 1;
width: 100%;
}
#footer_menu ul li
{
float: left;
padding-right: 15px;
padding-left: 15px;
}

#footer_menu ul li a
{
color: #fff;
font-size: 14px;
}

#footer_menu
{
width: 100%;
display: inline-block;
text-align: center;
}


#footer_menu div
{
	display: inline-block;
	padding: 10px 50px;
}

#footer_menu ul li:last-child
{
margin-right: 0px;
}

#footer_content
{
	display: block;
border: 1px solid #fff;
margin: auto;
width: 500px;
padding: 10px 50px;
}

#footer_content .h3, #footer_content .h2
{
color: #fff !important;
font-weight: normal;
  display: block;
}

.social
{
	margin-bottom: 10px;
}

ul.social li
{
	float: left;
}

ul.social li:last-child a
{
margin-right: 0px;
}

.social img
{
	width: 30px;
	height: 30px;
}
.social a
{
	display: inline-block;
	margin-right: 4px;
}
.r_content
{
width: 230px;
text-align: right;
}

.l_content
{
	border-right: 1px solid #fff;
width: 230px;
font-size: 12px;

}


.art-article table td
{
vertical-align: top;
}

.tblb tr, .tblb td
{
border: 1px solid #BDBDBD;
font-size: 12px;
padding: 5px;
}

.disk
{
list-style-type: disc;
margin-left: 50px;
}

.order_form p
{
padding:0 !important;
margin:0;
text-align:left;
}

img#expandButton
{
width: 200px !important;
height: 170px !important;
}

.sf-menu
{
list-style-type: disc;
}

.pop_item textarea
{
  margin-bottom: 10px;
  text-align: left;
  width: 408px;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 14px;
}

.item .picture, .item .prev-text
{
  display: inline-block;
}

.item_project_main
{
  display: inline-block;
  padding-top: 20px;
}
/*фотогалерея */

.fg_list
{
margin-top: 10px;
}

.photo-album-list div.photo-item-cover-block-container, .photo-album-list div.photo-item-cover-block-outer, .photo-album-list div.photo-item-cover-block-inner

{
  height: 286px !important;
  width: 286px !important;
    margin: auto;
}

div.photo-item-cover-block-inside
{
  padding: 8px;
}

ul.photo-album-list li, ul.photo-album-list div.photo-item-cover-block-outside, ul.photo-album-thumbs-list li, ul.photo-album-thumbs-list div.photo-item-cover-block-outside
{
  float: none !important;
}

li.photo-album-item div.photo-album-name
{
text-align: center;
}

.tab-box, .tab-panels
{
  display: inline-block;
}



hr
{
    margin: 30px 0;
}

.bann_main
{
  display: inline-block;
  width: 190px;
  height: 185px;
}

footer h3
{
  font-size: 14px;
}

.ico_kont {
  width: 20px;
  position: relative;
  top: 5px;
  margin-right: 10px;
}

.reg_form
{
  display:none;
}

.last_banners a img
{
display: inline-block;
height: 146px;
border: 1px solid #272E66;
}

.last_banners
{
margin: 30px 0;
text-align: left;
    display: inline-block;
    width: 100%;
}

.sogl
{
  text-align: justify;
}

.map-level-1
{
  margin-left: 20px;
}

.f_snow
{
  position: absolute;
  z-index: 500;
  bottom: 0;
  height: 80px;
  width: 100%;
  background: url(/new_year/f_snow.png);
  background-size: contain;
  background-repeat: repeat-x;
  background-position: 50% 100%;
}

.m_logo
{
list-style-type: none;
text-align: center;
}

.m_logo li
{
  display: inline-block;
  margin:0 10px 10px 10px;
  width: 150px;
}

.m_logo li img
{
  width: 130px;
}

.content-page .text-title
{
	    color: #ff6604;
			font-size: 18px;
    font-weight: normal;
		margin: 15px 0 10px 0;
		display: block;
}

.content-page p
{
	margin-top: 0;
	margin-bottom: 10px
}
.footer-links
{
	margin: 10px auto 0 auto;
}
.footer-links a
{
	display: inline-block;
	/*margin-right: 20px;*/
	color: #fff;
	text-decoration: underline;
}
.footer-links a:hover
{
	text-decoration: none;
}
